@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.3%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, .25%);
  border-radius: 9px;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.name {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 400;
  opacity: 0.7;
}

.player-active .name {
  font-weight: 700;
}

.score {
  font-weight: 300;
  color: #bf2e34;
  margin-bottom: auto;
  font-size: 7rem;
}

.player--active {
  background-color: rgba(255, 255, 255, .4);
}

.current {
  background-color: #bf2e34;
  padding: 2rem;
  width: 65%;
  text-align: center;
  transition: all .75s;
  border-radius: 9px;
  opacity: 0.7;
  color: white;
}

.current-score {
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.current-title {
  font-size: 3.5rem;
}

.active-player .current {
  opacity: 1;
}

.btn {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);
  border: none;
  color: #444;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: all .2s;

  background-color: white;
  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(10px);

  padding: .7rem 2.5rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, .1);
  border-radius: 50rem;

}

.btn::first-letter {
  font-size: 2.4rem;
  margin-bottom: .7rem;
  display: inline-block;
}

.btn:active {
  transform: translate(-50%, 3px);
}

.btn-new {
  top: 4rem;
}

.btn-roll {
  top: 39.3rem;
}

.btn-hold {
  top: 46.3rem;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.6rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .2);
}

.hidden {
  display: none;
}